<h1><%= @post.title %></h1>
<h3>Likes <%= @post.upvotes %></h3>
<h3>Dislikes <%= @post.downvotes %></h3>
<a href="<%=@post.link%>"><%= @post.link %></a>
<%= link_to "Like", "/posts/vote/upvote/#{@post.id}", :class => 'btn btn-success' %>
<%= link_to "Dislike", "/posts/vote/downvote/#{@post.id}", :class => 'btn btn-success' %>

<% @comments.each do |comment| %>
<li><%= comment.content %></li>
  <% if comment.user %>
    <li>Commenter: <%= comment.user.email %></li><br>
  <% else %>
    <% %>
  <% end %>
<% end %>

<!-- Display all of the comments for this post -->

<%= link_to "Comment on this Post", new_post_comment_path(@post) %>

<!-- Link to add a new comment to this post -->
