<h1><%= @post.title %></h1>
<a href="<%=@post.link%>"><%= @post.link %></a>

<% @comments.each do |comment| %>
<li><%= comment.content %></li>
  <% if comment.user %>
    <li>Commenter: <%= comment.user.email %></li><br>
  <% else %>
    <% %>
  <% end %>
<% end %>

<!-- Display all of the comments for this post -->

<%= link_to "Comment on this Post", new_post_comment_path(@post) %>

<!-- Link to add a new comment to this post -->
